* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
    font-family: "Open Sans", sans-serif;
}

.interface {
    max-width: 1230px;
    margin: 0 auto;
}

body {
    background-color: #e3e3e3;
}

/* estilo header*/

header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo  img {
    max-width: 40px;
}

header .menu-desktop nav ul {
    list-style-type: none;
    
}

.menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

.menu-desktop nav ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: 0.35s;
}

.menu-desktop nav a:hover {
    transform: scale(1.30);
}

header .btn-contato button {
    width: 140px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

header .btn-contato button:hover, .frase-inicial .txt-frase button:hover {
    background-color: #fff;
    color: black;
    transition: 0.5s;
}

/* estilo da frente */

section.frase-inicial {
    height: 95vh;
    background-image: url(../images/bg-inicio-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.frase-inicial .interface {
    display: flex;
    align-items: center;
    height: 100%;
    

}

.frase-inicial .interface h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 300;
}

.frase-inicial .txt-frase h1 span {
    display: block;
    font-weight: 800;
}

.frase-inicial .txt-frase p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.frase-inicial .txt-frase p span {
    display: block;
}

.frase-inicial .txt-frase button {
    width: 220px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

/* estilo vantagens */

section.vantagens {
    padding: 80px 0
}

.vantagens .itens-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.vantagens .itens-container .img-itens img{
     max-width: 470px;
     margin-bottom: 20px;
}

.vantagens .itens-container .txt-itens h3 {
    font-size: 3em;
    line-height: 45px;
}

.vantagens .itens-container .txt-itens h3  span{    
    font-weight: 400;
}

/* estilo contato */

section.contato {
    padding: 80px 0;
    background-color: #fff; 
     
}

.txt-contato, .icons-contato {
    width: 50%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.txt-contato h3{
    font-size: 2.3em;
    line-height: 35px;
    font-weight: 400;
}

.txt-contato h3 span {
    font-weight: 800;
    display: block;
    padding-bottom: 20px;
}

.contato .icons-contato button {
    display: flex;
    width: 60%;
    height: 60px;
    margin: 20px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 20% auto;
    padding: 0px 60px;
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
}

.icons-contato a{
    text-decoration: none;
}

.contato .icons-contato button i,a {
    color: #000;
    font-size: 23px;
    font-weight: 500;

}

.icons-contato i:hover, .icons-contato button:hover i, .icons-contato i:hover, .icons-contato button:hover p{
    
    color: #fff;
    transition: 0.5s; 
}

.icons-contato button:hover {
    background-color: #000;
    color: #fff;
    transition: 0.5s;

}

/* estilo hoteis */
section.hoteis {
    padding: 150px 0;
    background-image: url(../images/imagem-bg3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    text-align: center;
    color: white;

}

section.hoteis h3 {
    font-size: 2.5em;
    line-height: 40px;
    font-weight: 300;
    text-shadow: #000 1px 0 10px;
}

section.hoteis h3 span {
    display: block;
    padding-bottom: 20px;
    font-weight: 800;
}

section.hoteis p {
    max-width: 700px;
    margin-bottom: 20px;
    text-shadow: #000 1px 0 10px;
}

section.hoteis a button {
    width: 220px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-shadow: #000 1px 0 10px;
}

section.hoteis a button:hover {
    background-color: #fff;
    color: #000;
    text-shadow: none;
    transition: 0.5s;
}

/* como funciona */

section.como-funciona {
    padding: 80px 0;
    
}

.instrucoes, .txt-funciona {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;

}

.como-funciona .txt-funciona {
    position: sticky;
    top: 50%;
    
}
.como-funciona .txt-funciona h3 {
    font-size: 2.5em;
    line-height: 40px;
    font-weight: 400;
    font-size: 50px;
}

.como-funciona .txt-funciona h3 span {
    line-height: 40px;
    font-weight: 800;
    display: block;
}

.instrucoes .instru-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    border: #000 3px solid;
    padding: 20px;
    border-radius: 15px;
}

.instrucoes .instru-box img {
    max-width: 100px;
}

.instrucoes .instru-box h4 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 15px;
}

.instrucoes .instru-box h4 span {
    
    font-weight: 800;
    padding-bottom: 10px;
    line-height: 20px;
}

/*footer*/
footer {
    padding: 20px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}


footer .top-footer button, .middle-footer button {
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 8px;
    border-radius: 50%;
    margin: 20px 10px;
    cursor: pointer;
}

footer .middle-footer {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

footer .middle-footer a {
    color : #fff;
    padding: 0px 20px;
    text-decoration: none;
}

footer .top-footer button:hover, .middle-footer button:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}




